.circleGraphWrapper, h1
{
  text-align: center;
  font-size:14px;
  font-weight: normal;
  margin-bottom: 5px;
}

.circleGraphWrapper{
  display:inline-block;;
  margin:0px;
  margin-left:5px;
  margin-top:5px;

}

.selected{
  border-bottom: solid 4px #87D9E9;

}
