.parameter
{
  text-align: center;
  width:300px;
  border-radius:5px;

}

.parameter h1
{
  font-size:12px;
  margin:0px;
  padding:0px;
  font-weight: normal;

}

.green {
  border: solid 1px #B6DA8F;
}
.green h1{
  background-color: #B6DA8F;
}

.red {
  border: solid 1px #FB7C72;
}
.red h1{
  background-color: #FB7C72;
}
