.parameter
{
  text-align: center;
  width:300px;
  border-radius:5px;
  display: inline-block;
  margin-right:10px;
  margin-bottom:10px;
}

.parameter h1
{
  font-size:12px;
  margin:0px;
  padding:0px;
  font-weight: normal;

}

.green {
  border: solid 1px #B6DA8F;
}
.green h1{
  background-color: #B6DA8F;
}

.red {
  border: solid 1px #FB7C72;
}
.red h1{
  background-color: #FB7C72;
}

.graph {
  width:100%;
  text-align:center;
  margin:0;
  background-color: #474747;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
}



.recommendations {
  text-align: left;
}

.recommendations ul{
  margin:0;
  padding:0;
  width:100%;

}

.recommendations li{
  border-top:dotted 1px grey;
  width:100%;
  list-style: none;
  padding-bottom:2px;
}


.paramhider{
  height:10px;
  padding:0;
  margin:0;
  font-size:8px;
  cursor: pointer;
  display:inline-block;

}

.hiddenParam
{
  display:none;
}

.hiddenParamVisible
{
  opacity: .2;
}
